body {
	
}

#banner {
	width:100%;
}

.principal{
	background: #A25511;
	padding: 400px;
}

.titulo-principal {
	padding-left: 800px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
    color:#A22E11
}


.itens {
	font-style: italic
}

.beneficios {
	background: #A25511;
	padding: 40px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 20%;
}
